﻿<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Home<i class="glyphicon glyphicon-home fa-fw pull-right"></i></a></li>
            <li class=""><a ng-href="#!/notes/my">My Notes<i class="glyphicon glyphicon-pencil pull-right"></i></a></li>
            <li class=""><a ng-href="#/">Search Notes<i class="glyphicon glyphicon-search pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#!/login" ng-if="!userData.isUserLoggedIn">Login<i class="glyphicon glyphicon-log-in pull-right"></i></a></li>
            <li><a href="#" ng-click="logout();" ng-if="userData.isUserLoggedIn">Logout<i class="glyphicon glyphicon-log-out pull-right"></i></a></li>
        </ul>
    </div>
</div>