﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="#/">Landmark Remark</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="userinfo" ng-if="userData.isUserLoggedIn"><a href="#/">Welcome back, {{userData.username}} <i class="glyphicon glyphicon-user"></i></a></li>
        </ul>
    </div>
</div>