﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="landmarkRemark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark Remark</title>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyA-0RAgHgg7Pf6R5gLrssiCR1F5Jbcaadw&libraries=placeses,visualization,drawing,geometry,places"></script>
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="appCtrl">
    <top-bar></top-bar>
    <div class="row-offcanvas row-offcanvas-left">
        <side-bar></side-bar>
        <div id="main">
            <div class="col-md-12">
                <div data-ng-view>
                </div>
            </div>
        </div>
    </div><!--/row-offcanvas -->
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")
</body>
</html>
