﻿
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary" id="panelLatestMovies">
            <div class="panel-heading">
                <h3 class="panel-title">Add Note</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <ng-map id="currentLocationMap" center="{{mapLocation}}">
                        </ng-map>
                    </div>
                    <div class="row" ng-if="!userData.isUserLoggedIn">
                        <h2>Want to leave some remarks for this place? <a ng-href="#!/login">Login</a> to share your thoughts!</h2>
                    </div>
                    <div class="row" ng-if="userData.isUserLoggedIn">
                        <form class="form-addnote" role="form" novalidate angular-validator id="userNoteForm" name="userNoteForm" angular-validator-submit="submitRemark()">
                            <div class="form-group">
                                <label for="inputUsername" class="sr-only">Remarks</label>
                                <textarea id="txtRemark" name="txtRemark" class="form-control" ng-model="noteData.Remarks" required required-message="'Remarks cannot be empty'"></textarea>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Note</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success" id="panelMovieGenres">
            <div class="panel-heading">
                <h3 class="panel-title">Notes at this location</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="note in curretLocationNotes">
                        <strong>{{note.remarks | limitTo: 70}}...</strong>
                        <br/>
                        <i>by {{note.username}}</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>