﻿<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <form class="form-signin" role="form" novalidate angular-validator name="userLoginForm" angular-validator-submit="submitLogin()">
            <h3 class="form-signin-heading">Sign in</h3>
            <div class="form-group">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" name="inputUsername" class="form-control" ng-model="loginData.userName" placeholder="Username"
                       validate-on="blur" required required-message="'Username is required'">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="loginData.password" placeholder="Password"
                       validate-on="blur" required required-message="'Password is required'">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <div class="pull-right">
                <a ng-href="#!/register" class="control-label">Register</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h3 class="form-signin-heading">Social Sign in</h3>
        <p>Or you can login using one of the social logins bleow</p>
        <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')">Connect with Facebook</button>
        <button class="btn btn-large btn-google btn-block" type="button" data-ng-click="authExternalProvider('Google')">Connect with Google</button>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
