﻿<div class="row">
    <form class="form-signin" role="form" novalidate angular-validator name="userRegistrationForm" angular-validator-submit="register()">
        <h3 class="form-signin-heading">Register</h3>
        <div class="form-group">
            <label for="inputUsername" class="">Email</label>
            <input type="email" name="inputUsername" class="form-control" ng-model="registerData.Email"
                   placeholder="Email" validate-on="blur" required required-message="'Email is required'" invalid-message="'Invalid email'">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="inputPassword" class="form-control" ng-model="registerData.Password" placeholder="Password"
                   validate-on="blur" required required-message="'Password is required'">
        </div>
        <div class="form-group">
            <label for="inputEmail">Confirm Password</label>
            <input type="password" name="inputPassword" class="form-control" ng-model="registerData.ConfirmPassword" placeholder="Confirm password"
                   validate-on="blur" validator="registerData.Password === registerData.ConfirmPassword" required invalid-message = "'Passwords do not match!'">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
