﻿<div class="row">
    <div class="panel panel-primary" id="panelLatestMovies">
        <div class="panel-heading">
            <h3 class="panel-title">My Notes</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-6" ng-repeat="note in notes">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{note.address}} </strong>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-body">
                                <div><small>{{note.remarks}}</small></div>
                                <label class="label label-info">posted on {{note.addedOn | date}}</label><br />
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>